{%- assign blog = blogs[section.settings.blog] -%}

<div
  class="blog-posts-slider-section blog-posts-slider-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="blog-posts-slider"
  data-aos>

  <div class="page-width">

    {%- if section.settings.title != blank -%}
      <header class="section-header{% if section.settings.view_all %}{% unless settings.type_headers_align_text %} section-header--with-link{% endunless %}{% endif %}">
        <h2 class="section-header__title">
          {{ section.settings.title | escape }}
        </h2>
        {%- if section.settings.view_all -%}
          <a href="{{ blog.url }}"  class="btn btn--secondary btn--small section-header__link">{{ 'blogs.article.view_all' | t }}</a>
        {%- endif -%}
      </header>
    {%- endif -%}

    {%- unless blog.empty? or blog.articles.size == 0 -%}

      <div class="slideshow-wrapper">
        <div
          class="blog-posts-slider"
          id="BlogPostsSlider-{{ section.id }}"
          data-dots="false"
          data-count="{{ section.settings.post_limit }}">
          {%- for article in blog.articles limit: section.settings.post_limit -%}
            {%- render 'article-grid-item--mars',
              blog: blog,
              article: article,
              image_size: section.settings.blog_image_size
            -%}
          {%- endfor -%}
        </div>
      </div>

    {%- else -%}

      <div class="blog-posts-slider">
        {%- for i in (1..section.settings.post_limit) -%}
          <div class="blog-post-slide">
            <div class="blog-post-slide--flex">
              <div class="blog-post-slide--caption">
                <div class="blog-post-slide--meta">
                  {%- if section.settings.blog_show_date or article.tags.size > 0 or articles.comments_count > 0 -%}
                    <div class="blog-post-slide--date">
                      {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
                        <a href="#">3 comments</a> &middot;
                      {%- endif -%}
                      {%- if section.settings.blog_show_date -%}
                        Jul 17, {{ 'now' | date: "%Y" }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}

                  <a href="#" class="blog-post-slide--title h3">Example blog post</a>

                  {%- if section.settings.blog_show_author -%}
                    <div class="blog-post-slide--author">by Archetype Themes</div>
                  {%- endif -%}
                </div>
              </div>
              <div class="blog-post-slide--image">
                <a href="#">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>

    {%- endunless -%}

  </div>
</div>


{% schema %}
{
  "name": "Blog Posts Mars",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.blog-posts.settings.title.label",
      "default": "Blog posts"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Section description",
      "default": "<p>Section description</p>"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "t:sections.blog-posts.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "t:sections.blog-posts.settings.post_limit.label",
      "default": 3,
      "min": 3,
      "max": 12,
      "step": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "label": "t:sections.blog-posts.settings.blog_show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.blog-posts.settings.blog_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_comments",
      "label": "t:sections.blog-posts.settings.blog_show_comments.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:sections.blog-posts.settings.blog_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "t:sections.blog-posts.settings.view_all.label",
      "default": true
    },
    {
      "type": "select",
      "id": "blog_image_size",
      "label": "t:sections.blog-posts.settings.blog_image_size.label",
      "default": "wide",
      "options": [
        {
          "value": "natural",
          "label": "t:sections.blog-posts.settings.blog_image_size.options.natural.label"
        },
        {
          "value": "square",
          "label": "t:sections.blog-posts.settings.blog_image_size.options.square.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.blog-posts.settings.blog_image_size.options.landscape.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.blog-posts.settings.blog_image_size.options.portrait.label"
        },
        {
          "value": "wide",
          "label": "t:sections.blog-posts.settings.blog_image_size.options.wide.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Posts Mars",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
